[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
hezar = {extras = ["all"], version = "*"}
torch = "==2.0.0"
cmake = "*"
pillow = "*"
flask-mysql = "*"

[dev-packages]

[requires]
python_version = "3.11"
